body{
    background: white;
    font-family: 'Lato', sans-serif;
}

.naslovna{
    display: flex;
    justify-content: center;
}
.naslovna-foto{
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#navigation-bar{
    width: 1500px;
    height: 30px;
    background: #FFE4E1;
    border-style: solid;
    border-color: #FFDAE9;
    border-width: 3px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

a{
    color: black;
    font-variant: small-caps;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    color: purple;
    transform: scale(1.1);
    transition: 0.3s;
}

* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width:1200px){
    #services{
        flex-wrap: wrap;
    }
}
 #services{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
p{
    text-align: justify;
}
.hair{
    width: 450px;
    padding-right: 10px;

}
.hair:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.hair-foto{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 60%;
}
.nails{
    width: 450px;
    padding-left: 10px;
    padding-right: 10px;
  
}
.nails:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.nails-foto{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
}
.makeup{
    width: 450px;
    padding-left: 10px;
    
}
.makeup:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.makeup-foto{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
}
.text-capitalize{
 text-align: center;
}
.contact {
    padding: 50px 0;
    align-items: center;
}

.contact-child {
    background-color: #FFE4E1;
    background-size: 50% 100%;
    background-position: center;
    padding: 50px 0;
    align-items: center;
}

.contact form input[type="text"] {
    width: 500px;
    padding: 5px 10px;
    border-color: #FFDAE9;
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}   
.contact form input[type="date"] {
    width: 500px;
    padding: 5px 10px;
    border-color: #FFDAE9;
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.contact form input[type="button"] {
    background-color: #fcfcfc;
    border-color: #FFDAE9;
    border-radius: 12px;
    display: block;
    font-weight: bold;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.contact form input[type="button"]:hover{
        color: purple;
        transform: scale(1.1);
        transition: 0.3s;
    }

#footer{
    width: 1500px;
    height: 30px;
    background: #FFE4E1;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}